# Ignore examples and documentation from language stats
examples/* linguist-vendored
images/* linguist-vendored
*.txt linguist-vendored
*.md linguist-vendored

# Ignore Gradle/IDE files from language stats
.gradle/* linguist-vendored
*.properties linguist-vendored
*.gradle* linguist-vendored
*.kts linguist-vendored
*.bat linguist-vendored
*.cmd linguist-vendored
*.jar linguist-vendored

# Ignore VSCode settings
.vscode/* linguist-vendored